/*************************Le reste***********************/
body{
    font-size: 12px;
}

.presentation{
    grid-template-columns: 1fr;
}

.barre{
    top: 0;
}

/*************************HEADER*****************************************/

header{
    display: block;
    min-height: 4em;
    height: auto;
    padding: 0.5em 7.5em 7.5em 0.5em;
    background: var(--fond_menu);
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    opacity: var(--opacity_fond_menu_burger);
    z-index: 1000;
}

.burger_ouvert, .burger_ferme{
    display: flex;
    background-color: var(--fond_bouton_burger);
    line-height: 2em;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    color: var(--traits_bouton_burger);
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-50%) translateY(50%);
    border-radius: 10px 10px 10px 10px;
    transition: all 0.2s;
    box-shadow: 0 0 0.4em var(--traits_bouton_burger) inset;
}

.burger_ouvert:hover, .burger_ferme:hover{
    background-color: var(--fond_bouton_burger_hover);
    box-shadow: none;
}

#menu:target{
    display: flex;
}

.menu{
    display: none;
    gap: 10px;
    width: auto;
    background: none;
    height: 250px;
}

nav{
    display: flex;
    flex-direction: column;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--liens_menu);
    padding: 5px;
}

nav:hover a:not(:hover){
    opacity: 0.5;
}

header img{
    /* margin-left: 25px; */
    width: 80px;
    height: 80px;
}