/*************************HEADER*****************************************/

header{
    display: block;
    min-height: 4em;
    height: auto;
    padding: 0.5em 7.5em 7.5em 0.5em;
    background: var(--fond_menu);
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    opacity: var(--opacity_background_menu_burger);
    z-index: 1000;
}

.burger_ouvert, .burger_ferme{
    display: flex;
    background-color: var(--background_bouton_burger);
    line-height: 2em;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    color: var(--font_bouton_burger);
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-50%) translateY(50%);
    border-radius: 10px 10px 10px 10px;
    transition: all 0.2s;
    box-shadow: 0 0 0.4em var(--ombre_interne_bouton_burger) inset,
    0 0 0.4em var(--ombre_externe_bouton_burger),
    0 0 0.4em var(--ombre_externe_bouton_burger),
    0 0 0.4em var(--ombre_externe_bouton_burger),
    0 0 0.4em var(--ombre_externe_bouton_burger),
    0 0 0.4em var(--ombre_externe_bouton_burger),
    0 0 0.4em var(--ombre_externe_bouton_burger),
    0 0 0.4em var(--ombre_externe_bouton_burger),
    0 0 0.4em var(--ombre_externe_bouton_burger),
    0 0 0.4em var(--ombre_externe_bouton_burger),
    0 0 0.4em var(--ombre_externe_bouton_burger)
    ;
}

.burger_ouvert:hover, .burger_ferme:hover{
    background-color: var(--background_bouton_burger_hover);
    box-shadow: none;
    transform: translateX(-50%) translateY(50%) scale(0.90);
}

#menu:target{
    display: flex;
}

nav, .menu img{
    animation: zoom_menu 0.5s cubic-bezier(1,-0.12, 0.01, 1.31);
}

@keyframes zoom_menu {
    from{
        transform: scale(0);   
    }  
    to{
        transform: scale(1);
    } 
}

.menu{
    display: none;
    gap: 10px;
    width: auto;
    background: none;
    height: 250px;
}

nav{
    display: flex;
    flex-direction: column;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--liens_menu);
    padding: 5px;
    font-size: 1.5em;
}

nav:hover a:not(:hover){
    opacity: 0.5;
}

header img{
    width: 80px;
    height: 80px;
}

/**********************************BLOG*****************************************/

.accordeon{
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 25px;
    justify-content: center;
}

.accordeon label>.card{
    width: 250px;
    cursor: auto;
    border-radius: 0;
    transition: none;
}

.accordeon input{
    display: none;
}

.accordeon label>.card img{
    height: auto;
}

.accordeon input:checked + label>.card{
    display: block;
}