*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background: url(../img/background.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 24px;
    font-family: roboto, sans-serif;
}

/*************************HEADER*****************************************/

header{
    display: flex;
    justify-content: center;
    height: 100px;
    /* background-color: var(--background_menu); */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: var(--opacity_background_menu);
    z-index: 1000;
}

.burger_ouvert, .burger_ferme{
    display: none;
}

.menu{
    display: flex;
    align-items: center;
    height: 100%;
    width: var(--largeur_max);
    background-color: var(--background_menu);
}

nav{
    display: grid;
    grid-template-columns: repeat(7, auto);
    flex: 1 0 auto;
    background-color: var(--background_menu);
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--liens_menu);
    font-size: 1em;
}

nav:hover a:not(:hover){
    opacity: 0.5;
}

header img{
    width: 80px;
    height: 80px;
    background-color: var(--background_menu);
}


/************************MAIN***********************************/

main{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    max-width: var(--largeur_max);
    padding: 4em 2em 4em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1{
    font-size: 3em;
    text-align: center;
    color: var(--chapitres);
    text-shadow:
    0 0 0.4em var(--ombre_chapitres),
    0 0 0.4em var(--ombre_chapitres),
    0 0 0.4em var(--ombre_chapitres),
    0 0 0.4em var(--ombre_chapitres),
    0 0 0.4em var(--ombre_chapitres),
    0 0 0.4em var(--ombre_chapitres),
    0 0 0.4em var(--ombre_chapitres),
    0 0 0.4em var(--ombre_chapitres),
    0 0 0.4em var(--ombre_chapitres),
    0 0 0.4em var(--ombre_chapitres)
    ;
}

hr{
    width: 75px;
    height: 5px;
    background-color: var(--traits_sous_chapitres);
    margin: 1em auto 50px;
    box-shadow:
    0 0 0.4em var(--ombre_traits_sous_chapitres),
    0 0 0.4em var(--ombre_traits_sous_chapitres),
    0 0 0.4em var(--ombre_traits_sous_chapitres),
    0 0 0.4em var(--ombre_traits_sous_chapitres),
    0 0 0.4em var(--ombre_traits_sous_chapitres),
    0 0 0.4em var(--ombre_traits_sous_chapitres),
    0 0 0.4em var(--ombre_traits_sous_chapitres),
    0 0 0.4em var(--ombre_traits_sous_chapitres),
    0 0 0.4em var(--ombre_traits_sous_chapitres),
    0 0 0.4em var(--ombre_traits_sous_chapitres)
    ;
}

/* partie accueil */
section.titre{
    background-color: var(--background_sections_titre);
    opacity: var(--opacity_backround_sections_titre);
}

.typewriter{
    text-shadow: 0 0 0.4em var(--ombre_titre_typewriter),
    0 0 0.4em var(--ombre_titre_typewriter),
    0 0 0.4em var(--ombre_titre_typewriter),
    0 0 0.4em var(--ombre_titre_typewriter),
    0 0 0.4em var(--ombre_titre_typewriter)
    ;
    color: var(--titre_typewriter);
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.accroche{
    background-color: var(--background_sections_accroche);
    opacity: var(--opacity_backround_sections_accroche);
    font-family: PlayWrite, sans-serif;
}

.accroche ul{
    padding-left: 2em;
    padding-top: 1em;
}

.accroche li{
    list-style-type: none;
}

.accroche li::before{
    content: '✔';
    margin-right: 0.25em;
}

.signature{
    display: flex;
    justify-content: end;
    margin-top: 1em;
    font-family: Signature, sans-serif;
    font-size: 2em;
}

/* partie technos */
.technos{
    background-color: var(--background_sections_technos);
    opacity: var(--opacity_backround_sections_technos);
}

.logos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logos img{
    width: 10vw;
    filter: drop-shadow(0 0 0.4em var(--ombre_img_technos));
}

/* partie réalisations */
.projets{
    background-color: var(--background_sections_projets);
    opacity: var(--opacity_backround_sections_projets);
}

.presentation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 25px;
}

.presentation .card{
    width: 300px;
    /* outline: 1px solid black; */
    box-shadow: 0.4em 0.4em 0.4em var(--ombres_cards_realisation);
    background-color: var(--background_card_realisation);
}

.presentation .card img{
    width: 300px;
    transition: all 0.5s;
}

.presentation .card img:hover{
    transform: scale(1.05);
    box-shadow: 0.4em 0.4em 0.4em var(--ombres_images_hover_cards_realisation);
}

.card .titre{
    font-size: 1.5em;
    font-weight: bold;
}

.description{
    font-size: 1em;
    max-width: 100%;
}

/* partie expériences */
.passe{
    background-color: var(--background_sections_passe);
    opacity: var(--opacity_backround_sections_passe);
}

details{
    margin-bottom: 1em;
    background-color: var(--background_details);
    font-family: Imprime, sans-serif;
}

summary{
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    background-color: var(--background_details_titre);
    font-family: roboto, sans-serif;
}

details li{
    transform: translateX(2em);
    max-width: 80%;
}

details[open]{
    box-shadow: 0.4em 0.4em 0.4em var(--ombre_details_open);
}

/* partie blog */
.blog{
    background-color: var(--background_sections_blog);
    opacity: var(--opacity_backround_sections_blog);
}

.blog .card{
    padding: 20px;
    box-shadow: 0.4em 0.4em 0.4em var(--ombre_cards_blog);
    font-family: serif;
}

.blog .card:nth-of-type(n){
    background-color: var(--background_cards_blog_impaire);
}

.blog .card:nth-of-type(2n){
    background-color: var(--background_cards_blog_paire);
}

.blog .card .titre{
    font-weight: bold;
    font-size: 1.5em;
}

.blog .card a{
    display: inline-block;
    text-decoration: none;
    color: var(--font_boutons_cards_blog);
    height: 1.5em;
    margin-top: 0.5em;
    padding: 0.2em 0.4em 1.5em;
    border-radius: 0.4em;
    background-color: var(--background_boutons_cards_blog);
    box-shadow: 0 0 0.4em var(--ombre_boutons_cards_blog) inset;
    transition: all 0.2s;
}

.blog .card a:hover{
    color: var(--font_boutons_cards_blog_hover);
    background-color: var(--background_boutons_cards_blog_hover);
    box-shadow: none;
    transform: scale(0.95);
}

/* partie CV */
.cv{
    background-color: var(--background_sections_cv);
    opacity: var(--opacity_background_sections_cv);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cv img{
    width: 100%;
    box-shadow: 0.4em 0.4em 0.4em var(--ombre_cv);
}

/* partie contact */
.contact{
    background-color: var(--background_sections_contact);
    opacity: var(--opacity_background_sections_contact);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact a{
    color: var(--liens_contact);
    transition: all 0.2s;
    margin: 0.4em;
    text-shadow:
    0 0 0.4em var(--ombre_liens_contact),
    0 0 0.4em var(--ombre_liens_contact),
    0 0 0.4em var(--ombre_liens_contact),
    0 0 0.4em var(--ombre_liens_contact),
    0 0 0.4em var(--ombre_liens_contact),
    0 0 0.4em var(--ombre_liens_contact),
    0 0 0.4em var(--ombre_liens_contact),
    0 0 0.4em var(--ombre_liens_contact),
    0 0 0.4em var(--ombre_liens_contact),
    0 0 0.4em var(--ombre_liens_contact)
    ;
}

.contact a:hover{
    color: var(--liens_contact_hover);
}

/************************FOOTER***********************************/
footer{
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: var(--background_footer);
    opacity: var(--opacity_background_footer);
}

.footer{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: var(--largeur_max);
}

.footer p{
    margin: auto;
    padding: 0 1em 0;
}

.footer p>a>img{
    height: 3em;
}

.footer p>a>img:hover{
    filter: drop-shadow(0 0 0.4em var(--ombre_logos_reseaux))
}