:root{
    --barre_progression: #75B09C;
    --barre_progression_text: #75B09C;
    --barre_progression_text_ombre: black;
    --fond_scrollbar: #7c8ea2;
    --barre_scrollbar: #465362;

    /****************Menu****************************/
    --background_menu: #7c8ea2; /* menu burger inclus */
    --opacity_background_menu: 0.8;
    --liens_menu: white;

    /*****************Menu Burger*********************/
    --ombre_interne_bouton_burger: black;
    --ombre_externe_bouton_burger: white;
    --font_bouton_burger: white;
    --background_bouton_burger: #967522;
    --background_bouton_burger_hover: #c89c2d;
    --opacity_background_menu_burger: 0.8;

    /*************Titres de chapitre des sections********/
    --chapitres: #66101F;
    --ombre_chapitres: white;
    --traits_sous_chapitres: #66101F;
    --ombre_traits_sous_chapitres: white;
    --largeur_max: 1200px; /* Largeur maximum de la page */

    /**********************Accueil***********************/
    --background_sections_titre: rgba(255, 255, 255, 0);
    --opacity_backround_sections_titre: 1;
    --background_sections_accroche: #F2F8F6;
    --opacity_backround_sections_accroche: 1;
    /* --nb_caracteres_commun: 15; */
    --premier: 'Développeur WEB Front-End';
    /* --nb_caracteres_premier: 25; */
    --deuxieme: 'Développeur WEB Back-End';
    /* --nb_caracteres_deuxieme: 24; */
    --troisieme: 'Développeur WEB Full-Stack';
    /* --nb_caracteres_troisieme: 26; */
    /* % du nb commun sur nb total du texte */
    --calc_1 : 60%;
    --calc_2 : 62.5%;
    --calc_3 : 57.6923%;
    --titre_typewriter: #3C685A;
    --ombre_titre_typewriter: #a4cbbf;

    /********************Technologie*******************/
    --background_sections_technos: rgba(255, 255, 255, 0);
    --opacity_backround_sections_technos: 1;
    --ombre_img_technos: black;

    /********************Réalisations********************/
    --background_sections_projets: rgba(255, 255, 255, 0);
    --opacity_backround_sections_projets: 1;
    --ombres_cards_realisation: black;
    --ombres_images_hover_cards_realisation: black;
    --background_card_realisation: white;

    /****************Expériences************************/
    --background_sections_passe: rgba(255, 255, 255, 0);
    --opacity_backround_sections_passe: 1;
    --background_details: #7C8EA2;
    --background_details_titre: #437564;
    --ombre_details_open: black;

    /*******************Mon Blog************************/
    --background_sections_blog: rgba(255, 255, 255, 0);
    --opacity_backround_sections_blog: 1;
    --ombre_cards_blog: black;
    --font_boutons_cards_blog: white;
    --font_boutons_cards_blog_hover: white;
    --background_boutons_cards_blog: #967522;
    --background_boutons_cards_blog_hover: #c89c2d;
    --ombre_boutons_cards_blog: black;
    --background_cards_blog: white;

    /*********************CV***************************/
    --background_sections_cv: rgba(255, 255, 255, 0);
    --opacity_background_sections_cv: 1;
    --ombre_cv: black;

    /*********************Contact**********************/
    --background_sections_contact: white;
    --opacity_background_sections_contact: 0.8;
    --liens_contact: black;
    --liens_contact_hover: #7c8ea2;
    --ombre_liens_contact: white;

    /**********************Footer***********************/
    --background_footer: #7c8ea2;
    --opacity_background_footer: 1;
    --ombre_logos_reseaux: white;
}

/* https://coolors.co/66101f-967522-f2f8f6-16697a-5d6f83 */